services:
  catalogue:
    build: ./catalogue
    image: bugataakash/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb
    image: bugataakash/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db    
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: bugataakash/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:  
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:  # this is equal to -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: bugataakash/user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis
  cart:
    build: ./cart
    image: bugataakash/cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue
  shipping:
    build: ./shipping
    image: bugataakash/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart
  payment:
    build: ./payment
    image: bugataakash/payment:v1
    container_name: payment
    depends_on:
      - rabbitmq
      - cart
      - user
  frontend:
    build: ./frontend
    image: bugataakash/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
      - user
      - catalogue
      - cart
      - payment
      - shipping

networks:
  default:
    driver: bridge
    name: roboshop
    external: false #ture if you have created network manually using docker network command

volumes:
  mongodb:   # docker voulme create mongodb
  redis:
  mysql:
  rabbitmq: